.detail {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white ;
  &__title {
    padding: 8px;
    background-color: #4CAF50;
    color: white;
    display: block;
  }
  &__feels {
    color: #1147a9;
    &:hover {
      cursor: pointer;
    }
  }
  &__list {
    padding-left: 8px;
  }
}
